<!--IMAGE LOCATOR UI -->

<html>
	<head>
		<title>Points of Interest Picker</title>
		<script src="scripts/1.7.2.jquery.min.js"></script>		
		<script src="scripts/imageLocator.js" type="text/javascript"></script>				
		<script src="scripts/bootstrap.min.js" type="text/javascript"></script>
		<link href="styles/UIstyle.css" rel="stylesheet" type="text/css" >	
	    <link href="styles/bootstrap.min.css" rel="stylesheet" media="screen">	
		<meta name="viewport" content="width=device-width, user-scalable=no">
	</head>
	<body>	
		<h1>Points of Interest Picker</h1>

		<!--Information Views-->
		<div id="dashboard">
			<div id="myCarousel" class="carousel slide">  
  				<!-- Carousel items -->  
  				<div class="carousel-inner">  
    				<img class="active item" src="images/01.jpg"></img>  
    				<img class="item" src="images/02.jpg"></img>  
  				</div>  
  				
	  			<!-- Carousel nav -->  
	  			<a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a>  
	  			<a class="carousel-control right" href="#myCarousel" data-slide="next">›</a>  
			</div>  

			<div id="mapView">*corresponding map location*</div>
		</div>

		<!--Input Elements-->


	</body>
</html>
