<!--IMAGE LOCATOR UI -->
{% load staticfiles %}
<html>
  <head>
    <title>Points of Interest Picker</title>
    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="//www.openlayers.org/api/OpenLayers.js"></script>
    <script src="{% static "scripts/imageLocator.js" %}" type="text/javascript"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="{% static "styles/UIstyle.css" %}" rel="stylesheet" type="text/css" >
    <meta name="viewport" content="width=device-width, user-scalable=no">
  </head>
  <body>
    <h1>Points of Interest Picker</h1>

    <!--Information Views-->
    <div id="dashboard">
      <div id="myCarousel" class="carousel slide">
        <!-- Carousel items -->
        <div class="carousel-inner">
          <img class="active item" src="{% static "images/01.jpg" %}"></img>
          <img class="item" src="{% static "images/02.jpg" %}"></img>
        </div>

        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">›</a>
      </div>

      <div id="mapView">*corresponding map location*</div>
    </div>

    <!--Input Elements-->

  </body>
</html>
